.banner-assistencia {
  background: url("../img/banner-site3.jpg") center center;
  height: 31rem !important;
  background-size: cover;
}


.como-funciona{

  img{
    max-width: initial !important;
  }

  .icon{
    margin: .5rem 0;
  }

}

.box-bene{


  .box{
    max-width: 500px;
  }

  h3{
    font-size: 20px;
  }

  .price{
    font-size: 1.1em;

    span{
      font-size: 1.3em;
    }
  }
}

@media(min-width: map-get($grid-breakpoints, md)) {

  .box-bene{

    .price{
      font-size: 1.3em;

      span{
        font-size: 1.7em;
      }
    }

    h3{
      font-size: 30px;
    }
  }

  .como-funciona .icon{
    margin: 0;
  }

  .banner-assistencia {
    height: 40rem !important;
  }
}