.box-form {
  padding: 1.5rem 1.5rem 0;
  display: none;
  z-index: 20;
  overflow-y: scroll;
  height: 500px;

  input,
  textarea,
  select {
    border: 0;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    padding: 7px 0;
    outline: none;
    background: #fff;
    color: $black;

    option {
      color: $black;
    }
  }

  ::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #c1c1c1;
    opacity: 1; /* Firefox */
  }

  :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #c1c1c1;
  }

  ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #c1c1c1;
  }

  @media (min-width: map-get($grid-breakpoints, md)) {
    width: 445px;
    padding: 1.5rem 1.5rem 0;
    display: block;
  }
}

.bg-pop-up {
  background: rgba(0, 0, 0, 0.5);
}

.close {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: -12px;
  font-size: 30px;
}

.block-pop-up {
  height: 100%;
  overflow: hidden;
}

.active-form {
  display: block;
  position: fixed;
  top: 4rem !important;
  right: 0;
  left: 0;
}

.btn-pop {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 0.7rem 0;
  z-index: 10;
  left: 0;
  text-align: center;
  font-weight: bold;
}
