.como {

  .box {
    font-size: 20px;
    width: 215px;
    height: 215px;
    text-align: center;
    border: 1px solid #E5E5E5;
    border-top: 0;
    padding: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .2s;
    /* Animation */

    img {
      margin-bottom: .5rem;
    }

    &:nth-child(1) {
      border-top: 1px solid #E5E5E5;
    }

    &:hover {
      transform: scale(1.1);
      /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      @extend .shadow;
      z-index: 20;
      background: #fff;
    }

    @media(min-width: map-get($grid-breakpoints, md)) {

      &:nth-child(2) {
        border-left: 0;
        border-top: 1px solid #E5E5E5;
        margin-bottom: -13rem;

      }

      &:nth-child(4) {
        border-left: 0;
        margin-bottom: -13rem;
      }


    }
  }
}