.banner-mobile {
  background: url("../img/banner-mobile.png") center center;
  background-size: cover;
  height: 29rem;
  background-repeat: no-repeat;
}

.section-consultor {
  .paragraph-top {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
  }
}

.section-blue {
  @extend .bg-bluewhale;

  .paragraph-section-blue {
    font-family: "Quicksand", sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
  }

  .btn-consultor {
    @extend .bg-yellow;
    font-size: 1rem;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    @extend .color-bluewhale;
  }
}

.section-seja {
  .title-section-seja {
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    @extend .color-orange;
  }

  .paragraph-seja {
    font-family: "Quicksand", sans-serif;
    font-size: 1.125rem;
  }

  .btn-quero {
    @extend .bg-blue;
    font-size: 1rem;
    font-weight: bold;
    transition: all 0.6s ease-in-out;
    outline: 0;
    box-shadow: 0 0 0 0;

    &:hover {
      @extend .bg-orange;
      transition: all 0.6s ease-in-out;
    }
  }

  .line {
    @extend .bg-lgrey;
  }
}

.section-vantagens {
  .title-vantagens {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    @extend .color-blue;
  }

  ul {
    list-style: none;
    padding: 0 !important;
  }

  ul li:before {
    content: "\2022";
    margin: 10px;
    @extend .color-sblue;
  }

  li {
    font-size: 19px;
    font-weight: 500;
  }
}

.section-ganha {
  .title-ganha {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    @extend .color-orange;
  }

  ul {
    list-style: none;
    padding: 0 !important;
  }

  ul li:before {
    content: "\2022";
    margin: 3px;
    padding: 0 !important;
    @extend .color-orange;
  }

  li {
    font-size: 19px;
    font-weight: 500;
  }
}

.section-torno {
  .title-torno {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    @extend .color-blue;
  }

  ul {
    list-style: none;
    padding: 0 !important;
  }

  ul li:before {
    content: "\2022";
    margin: 10px;
    padding: 0 !important;
    @extend .color-sblue;
  }

  li {
    font-size: 19px;
    font-weight: 500;
  }
}

.section-form {
  input,
  textarea,
  select {
    border: 0;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;

    padding: 7px 0;
    outline: none;
    background: #fff;
    color: $black;
    @extend .col-10;
    margin: 1rem auto;
    display: flex;

    option {
      color: $black;
    }
  }

  .wpcf7-form {
    div {
      @extend .col-10;
      margin: 1rem auto;

      input {
        border-bottom: 0;
      }
    }
  }

  .title-form {
    font-size: 1.625rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    @extend .color-orange;
  }

  .paragraph-form {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
    @extend .color-black;
  }

  .form-control {
    border-bottom: 2px solid #c1c1c1;
    border-radius: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    outline: 0;
    box-shadow: 0 0 0 0;
  }

  .color-form {
    color: #c1c1c1 !important;
  }

  select {
    padding: 6px !important;
  }

  ::-webkit-input-placeholder {
    color: #c1c1c1;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #c1c1c1;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #c1c1c1;
  }

  :-ms-input-placeholder {
    color: #c1c1c1;
  }

  .form-group {
    margin-bottom: 2rem !important;
  }

  .btn-form {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    @extend .bg-blue;
    transition: all 0.6s ease-in-out;

    &:hover {
      @extend .bg-orange;
      transition: all 0.6s ease-in-out;
    }
  }

  .card {
    background: #fff;
    border-radius: 2px;
  }

  .card-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  }
}

.section-atendimento {
  .span-format {
    font-size: 1rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    @extend .color-blue;
  }
}

.section-duvida {
  .title-duvida {
    font-size: 2rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
  }

  .paragraph-duvida {
    font-size: 1rem;
    font-weight: 400;
    font-family: "Quicksand", sans-serif;
  }

  .btn-duvida {
    @extend .bg-white;
    font-size: 1rem;
    font-weight: bold;
    font-family: "Quicksand", sans-serif;
    transition: all 0.6s ease-in-out;

    &:hover {
      @extend .bg-blue;
      transition: all 0.6s ease-in-out;
    }
  }
}

#seja-consultor {
  text-align: center;
}

@media (min-width: map-get($grid-breakpoints, md)) {
  .banner-desktop {
    background: url("../img/banner-desktop.png") center center no-repeat;
    background-size: cover;
    height: 58rem;
  }
}
