.banner-nosso {
  background: url("../img/banner-nossos.png") center center;
}

.section-nosso {

  .title-nosso {
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
  }
}

.section-saiba {

  .title-saiba {
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    @extend .color-orange;
  }
}

.section-fund {

  .paragraph-form {
    font-family: 'Quicksand', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    @extend .color-blue;
  }

  .span-format {
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    color: #C1C1C1;
  }

  .icons-social {
    @extend .color-orange;
  }
}

.section-cotar {

  .paragraph-cota {
    font-size: 2.5rem;
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
  }

  .btn-cotar {
    @extend .bg-white;
    font-weight: bold;
  }

}


@media(min-width: map-get($grid-breakpoints, md)) {

  .banner-nosso {
    height: 30rem;
  }

}