header {
  background-color: #194165;

  .consts {
    cursor: pointer;
    display: flex;
  }

  svg {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
    color: white;
  }

  .active svg {
    transform: rotate(90deg);
  }

  path {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dasharray 500ms cubic-bezier(0.4, 0, 0.2, 1),
      stroke-dashoffset 500ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #ffffff;
  }

  path:nth-child(1) {
    transform-origin: 36% 40%;
  }

  path:nth-child(2) {
    stroke-dasharray: 29 299;
  }

  path:nth-child(3) {
    transform-origin: 35% 63%;
  }

  path:nth-child(4) {
    stroke-dasharray: 29 299;
  }

  path:nth-child(5) {
    transform-origin: 61% 52%;
  }

  path:nth-child(6) {
    transform-origin: 62% 52%;
  }

  .active path:nth-child(1) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }

  .active path:nth-child(2) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }

  .active path:nth-child(3) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }

  .active path:nth-child(4) {
    stroke-dasharray: 225 299;
    stroke-dashoffset: -72px;
  }

  .active path:nth-child(5) {
    transform: translateX(9px) translateY(1px) rotate(-45deg);
  }

  .active path:nth-child(6) {
    transform: translateX(9px) translateY(1px) rotate(45deg);
  }

  #box-menu {
    a {
      margin: 2rem auto;
      display: table;
      font-weight: 500;
      color: $white;
      img {
        width: 250px;
      }
    }

    .dropdown-menu {
      background-color: #194165;
    }

    .dropdown-item {
      margin: 0;
    }

    .dropdown-item:hover {
      background-color: $orange;
    }
  }

  .box-redes a {
    margin: 1rem 0.8rem;
  }

  @media (min-width: map-get($grid-breakpoints, xl)) {
    #box-menu a {
      margin: 0 0.7rem;
      display: table;
    }
  }
}
