.popup {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000b2;
  z-index: 999999999;
  height: 100vh;
  top: 0;
  img {
    width: 600px;
  }
  a {
    z-index: 99999999999999999;
    background: #ec7225;
    position: absolute;
    right: 6%;
    top: 30%;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50% !important;
    color: white;
    font-size: 20px;
    font-weight: 600;
  }
}

.contrate {
  margin: 4rem 0;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .contrate {
    height: 440px;
    margin-top: -15rem;
  }
}

.box-cotacao {
  h3,
  .fa-whatsapp {
    font-size: 22px;
  }
}
