.planos-especiais {


  .owl-stage {
    padding: 1.5rem 0 0;
  }

  .nav {
    margin: 2rem 1.7rem;
    padding-right: 0;
  }

 .owl-item, .item {
    padding-bottom: 1rem;

    &:nth-child(even){

      .bg-box {
        @extend .bg-blue;
      }

      .bg-odd{
        @extend .bg-blue;
      }

      .color-odd{
        @extend .color-blue;
      }

    }

    .color-odd{
      @extend .color-orange;
    }

    .bg-odd{
      background: $orange;
    }

    .bg-box {
      background: $orange;
      border-radius: 5px 5px 0px 0px;
      display: flex;
      height: 234px;
      align-items: center;
      justify-content: center;
    }

    .box {
      border: 1px solid #E5E5E5;
      border-top: 0;
      padding: 2rem 0;
    }

    span {
      font-weight: bold;
    }

    .box-price {
      line-height: 2rem;

      span {
        font-size: 1.4em;

      }

      .value {
        font-size: 2em;
      }
    }

    @media(min-width: map-get($grid-breakpoints, lg)) {

      .owl-stage {
        padding: 4.5rem 0;

      }

      padding: 0 0 1rem;
      border: 1px solid #E5E5E5;
      border-top: 0;
      margin: initial !important;

      img {
        width: 300px;
      }

      .box {
        border: 0;
      }


    }

  }

  .owl-dots {

    button.active {
      opacity: 1 !important;
    }

    button {
      outline: none !important;
      opacity: 0.3 !important;

      span {
        width: 7px !important;
        height: 7px !important;
        background: #788692 !important;
        display: flex;
        border-radius: 100%;
        margin: 0rem .5rem;


      }
    }
  }

  .owl-nav {

    .disabled {
      opacity: initial !important;
      background: transparent !important;
      color: #D2D6DA !important;
      border-color: #D2D6DA !important;
    }

    button {
      border: 1px solid $orange !important;
      border-radius: 100% !important;
      width: 40px;
      height: 40px;
      background: $orange !important;
      color: #fff !important;
      font-size: 2em !important;
      outline: none;
      margin: 0rem .1em;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 17px;
        margin-top: -5px;
      }
    }
  }

}