.plans {


  .owl-stage {
    padding: 3rem 0 1.5rem;

  }


  .card {
    border: 0 !important;
    -webkit-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
    -moz-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
    box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
    margin: 0 auto;

    img {
      height: 63px;
    }

    .card-body {
      margin-top: -4rem;

      .box-price {
        line-height: 2rem;

        span {
          font-size: 1.4em;

        }

        .value {
          font-size: 2em;
        }

      }

    }

  }



  .owl-dots {

    button.active{
      opacity: 1 !important;
    }

    button {
      outline: none !important;
      opacity: 0.3 !important;

      span {
        width: 7px !important;
        height: 7px !important;
        background: #788692 !important;
        display: flex;
        border-radius: 100%;
        margin: 0rem .5rem;


      }
    }
  }

  .owl-nav {

    .disabled {
      opacity: initial !important;
      background: transparent !important;
      color: #D2D6DA !important;
      border-color: #D2D6DA !important;
    }

    button {
      border: 1px solid $orange !important;
      border-radius: 100% !important;
      width: 40px;
      height: 40px;
      background: $orange !important;
      color: #fff !important;
      font-size: 2em !important;
      outline: none;
      margin: 0rem .1em;

      span {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 17px;
        margin-top: -5px;
      }
    }
  }
}