.box-align {
  .item {
    margin: 2.5rem 0;
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .bg-lotus-box {
    background-color: #f8f6f9;
    .lotus-box {
      .item {
        width: 300px;
        z-index: 99;
      }

      .lotus-img {
        @include make-col(3);
        margin: 0 auto !important;
      }

      .box-align {
        &:nth-child(1) {
          margin-bottom: -8rem;
        }

        &:nth-child(3) {
          margin-top: -8rem;
        }
      }
    }
  }
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .lotus-box .item {
    width: 360px;
  }
}
