.bg-sobrenos {
  background: url("../img/bg-sobrenos.jpg");
}

.detail-bggrey {
  height: 246px;
  width: 100%;
  background: #E2E3E4;
}

.video {
  display: flex;
justify-content: center;
align-items: center;
  margin-top: -12rem;

  iframe {
    height: 261px;
    @extend .col-11;
  }
}

@media(min-width: map-get($grid-breakpoints, md)) {

  .video {
    margin-top: -19rem;

    iframe {
      height: 31rem;
      @include make-col(8);
    }
  }

  .valores {

    .item {
      width: 393px;

      &:nth-child(2) {
        width: 367px;
      }
    }
  }

  .detail-bggrey {
    height: 399px;

  }
}

