.owl-vantagens {

  .icon img {
    width: initial !important;

  }

  h3 {
    font-weight: bold;
  }

  .owl-dots button span{
    width: 7px !important;
    height: 7px !important;
  }

  .owl-nav {

    .disabled {
      opacity: initial !important;
      background: transparent !important;
      color: #ffffff !important;
    }

    button {
      border: 1px solid #fff !important;
      border-radius: 100% !important;
      width: 40px;
      height: 40px;
      background: #fff !important;
      color: $orange !important;
      font-size: 2em !important;
      outline: none;

      span{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 17px;
        margin-top: -5px;
      }
    }
  }
}

