@import "../../source/components/bootstrap/scss/bootstrap";

@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700&display=swap");

@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css");

@import "owl.carousel";

@import "owl.theme.default.min";

@import "animated";

@import "header";

@import "home";

@import "vantagens";

@import "planos";

@import "planos-especiais";

@import "consultor";

@import "perguntas-frequentes";

@import "porque-lotus";

@import "nossos-planos";

@import "sobre-nos";

@import "box-form";

@import "como-funciona";

@import "fundadores";

@import "cotacao";

@import "autofranquia";

@import "assistencia-funeral";

@import "footer";

$black: #555c62;

$dblue: #224263;

$green: #9dce4e;

$sblue: #4ec4ce;

$yellow: #f1c82b;

$orange: #f39219;

$salmon: #f1794b;

$dorange: #ec5432;

$lgrey: #cccccc;

$bluewhale: #042248;

$white: #ffffff;

.color-bluewhale {
  color: $bluewhale;
}

.color-blue {
  color: #196cb4;
}

.bg-purple {
  background: #7a6bf8;
}

.color-sblue {
  color: $sblue;
}

.color-green {
  color: $green;
}

.color-orange {
  color: $orange;
}

.color-yellow {
  color: $yellow;
}

.color-lgrey {
  color: $lgrey;
}

.color-black {
  color: $black;
}

.bg-vide {
  background-color: #194165;
}

.bg-lgrey {
  background-color: $lgrey;
}

.bg-sblue {
  background: $sblue;
}

.bg-blue {
  background: #196cb4;
}

.bg-bluewhale {
  background-color: $bluewhale;
}

.bg-yellow {
  background: $yellow;
}

.bg-green {
  background: $green;
}

.bg-orange {
  background: $orange;
}

.bg-black {
  background-color: $black;
}

.bottom-0 {
  bottom: 0;
}

.m-auto-left {
  margin: 0 auto 0 0 !important;
}

.d-nonee {
  display: none;
}

.icon-bg {
  background-color: #ffffff;
  width: 10px;
}

.z-index {
  z-index: 30;
}

.w-60 {
  width: 60%;
}

.loading {
  display: none !important;
}

.button-whats {
  background-color: #ffffff;
  height: 4.2rem;
  width: 4.2rem;
  font-size: 2rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
  bottom: 1.3rem;
  right: 1.8rem;
  @extend .color-orange;
}

.shadow {
  -webkit-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  -moz-box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
  box-shadow: 0px 5px 20px -2px rgba(204, 204, 204, 1);
}

.box-price {
  line-height: 2rem;

  span {
    font-size: 1.4em;
  }

  .value {
    font-size: 2em;
  }
}

html {
  scroll-behavior: smooth;
  background-color: #194165;
}

body {
  font-family: "Quicksand",arial, sans-serif;
  font-display: swap;
  color: $dblue;
  position: relative;
}

#myDiv {
  height: 10px;
  position: absolute;
  bottom: 57rem;
  left: 0;
  width: 100%;
}

a {
  text-decoration: none !important;
  cursor: pointer;
  @extend .rounded;
  color: currentColor;
}

.wpcf7-response-output {
  color: $black !important;
}

img {
  @extend .img-fluid;
}

.btn-send {
  background: #196cb4 !important;
  padding: 8px !important;
  font-weight: bold !important;
  color: #fff !important;
}

.btn-send-c {
  background: #196cb4 !important;
  padding: 8px !important;
  font-weight: bold !important;
  color: #fff !important;
  text-align: center;
  display: flex;
  justify-content: center;
}

.grandient {
  background: rgb(249, 154, 44);
  background: linear-gradient(
    90deg,
    rgba(249, 154, 44, 1) 0%,
    rgba(241, 121, 75, 1) 46%,
    rgba(236, 84, 50, 1) 100%
  );
}

.banner-top {
  height: 305px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
}

.paragraph {
  font-size: 3rem;
  font-weight: bold !important;
}

.paragraph-secondary {
  font-size: 1.37rem;
  font-weight: 400 !important;
}

@media (min-width: map-get($grid-breakpoints, xs)) {
  h1 {
    font-size: 43px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 26px;
  }
}

@media (min-width: map-get($grid-breakpoints, md)) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 39px;
  }

  h3 {
    font-size: 30px;
  }

  .position-lg-absolute {
    position: absolute;
  }

  .banner-top {
    height: 492px;
  }
}

.banner-auto-pop {
  background: url("../img/banner-auto.png") center center no-repeat;
  background-size: cover;
  height: 405px;
}

@media (min-width: map-get($grid-breakpoints, lg)) {
  .banner-auto-pop {
    background: url("../img/banner-auto.png") center center no-repeat;
    height: 38rem !important;
    background-size: cover;
  }
}

.beneficios {
  .item {
    display: flex;
    justify-content: center;
    margin: 1rem 0;

    .box {
      text-align: center !important;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;

      .icon {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
      }
    }
  }
}
